figcaption {
    margin: 15px auto 40px auto;
    text-align: center;
}
.p-r {
    position: relative;
    
}
.img-01 {
    position: absolute;
    left: -150px;
}
.col-texto {
    margin-top: 100px;
    padding-left: 340px;
}
.container-fluid {
    padding: 0;
}
.bloco-1-1 {
    padding-top: 100px;
}
.bloco-1-1 .col-lg-4 img {
    height: 100%;
}
.bloco-1-1 h2 {
    margin-bottom: 40px;
}
.bloco-2-1 {
    background-image: url('pg1/bloco2-bg.png');
    padding-top: 80px;
    padding-bottom: 80px;
}
.bloco-2-1 .container {
    background-color: #211f20;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 85%;
    box-shadow: 4px 4px 3px black;
}
.bloco-2-1 .accordion-item {
    color: black;
}
.painel-gaitinha .accordion-button {
    font-family: unset;
}
.bloco-1-1 .col-texto {
    max-width: 800px;
}
.row {
    max-width: 100%;
}
.bloco-3-1 {
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 620px;
    background: url('pg1/bloco3-esq.png') left center no-repeat, url('pg1/bloco3-dir.png') right center no-repeat, #dddddd;
}
.bloco-3-1 .container {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 30px;
    box-shadow: 2px 3px 5px #333;
}
.podcast-bg {
    margin-top: 40px;
    height: 280px;
    width: 100%;
    background-image: url('pg1/bloco3-podcast.png');
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.bloco-4-1 {
    background-image: url('pg1/bloco4-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 1200px;
    padding-left: 50%;
    padding-top: 60px;
    padding-bottom: 200px;
    margin-left: 40px;
    margin-right: 40px;
}
.bloco-4-1 h3 {
    font-size: 24px;
}
.bloco-4-1 .col-conteudo {
    max-width: 800px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.bloco-4-1 .caixa-1 {
    background-color: #008086;
    box-shadow: -6px 6px #ff9700;
    border-radius: 100px;
    color: white;
    padding: 25px;
    padding-left: 55px;
    position: relative;
    margin: 50px auto;
    display: block;
}
.caixa-1::before {
    content: '';
    position: absolute;
    width: 125px;   
    height: 126px;
    background-image: url('pg1/bloco4-ico.png');
    left: -65px;
    top: -60px;
}
.caixa-2 {
    background-color: #008086;
    box-shadow: -6px 6px #ff9700;
    border-radius: 100px;
    color: white;
    padding: 25px;
    padding-left: 50px;
    margin: 40px auto;
}
.caixa-2 p {
    margin: 0;
}
.caixa-2 p:first-of-type {
    text-align: center;
    margin-bottom: 5px;
}

.pagination {
    justify-content: center;
}
.obj-mapa {
    width: 718px;
    min-height: 567px;
    background-image: url('pg1/bloco4-painel-mapa.png');
    position: relative;
}
.obj-mapa button {
    height: 35px;
    width: 35px;
    border: 3px solid white;
    background-color: #ffffff80;
    border-radius: 100%;
    position: absolute;
    transition-duration: .3s;
}
.obj-mapa button:hover {
    box-shadow: 2px 2px 3px #333;
    transition-duration: .3s;
}
#btn-acre {
    top: 30%;
    left: 7%;
}
#btn-alagoas {
    top: 32%;
    right: 5%;
    height: 25px;
    width: 25px;
}
#btn-amapa {
    top: 9%;
    left: 54%;
}
#btn-amazonas {
    top: 20%;
    left: 25%;
}
#btn-bahia {
    right: 15%;
    top: 36%;
}
#btn-ceara {
    top: 22%;
    right: 12%;
}
#btn-df {
    top: 43%;
    right: 32%;
}
#btn-es {
    top: 50%;
    right: 15%;
}
#btn-goias {
    top: 44%;
    right: 38%;
}
#btn-maranhao {
    top: 23%;
    right: 26%;
}
#btn-matogrosso {
    top: 38%;
    left: 44%;
}
#btn-matosul {
    top: 52%;
    left: 46%;
}
#btn-minas {
    right: 24%;
    top: 48%;
}
#btn-para {
    top: 20%;
    left: 50%;
}
#btn-paraiba {    
    top: 27%;
    right: 3%;
    height: 25px;
    width: 25px;    
}
#btn-parana {
    left: 55%;
    bottom: 34%;
}
#btn-pernambuco {
    top: 29.5%;
    right: 10.5%;
    height: 25px;
    width: 25px;
}
#btn-piaui {
    right: 18%;
    top: 27%;
}
#btn-rj {
    right: 19%;
    top: 57%;
}
#btn-rn {
    top: 23.5%;
    right: 6%;
    height: 25px;
    width: 25px;
}
#btn-rs {
    left: 50%;
    bottom: 24%;
}
#btn-rondonia {
    top: 33%;
    left: 26.5%;
}
#btn-roraima {
    top: 8%;
    left: 30.5%;
}
#btn-sc {
    right: 37%;
    bottom: 28.5%;
}
#btn-sp {
    bottom: 38%;
    left: 61%;
}
#btn-sergipe {
    top: 35%;
    right: 7.5%;
    height: 25px;
    width: 25px;
}
#btn-tocantins {
    top: 31%;
    left: 62%;
}

.bloco-1-2 {
    background-color: #005d62;
    padding-top: 110px;
    padding-bottom: 80px;
}
.bloco-1-2 .container {
    color: white;
    background-color: transparent;
}
.bloco-2-2 {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url('pg2/bloco2-bg.png');
}
.bloco-2-2 .container {
    background-color: transparent;
}
.bloco-2-2 .container-fluid {
    padding: 15px 25px;
}
.bloco-2-2 .container-fluid .row {
    justify-content: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloco-3-2 {
    background-image: url('pg2/bloco3-bg.png');
    background-size: contain;
    padding-top: 40px;
    padding-bottom: 40px;
}
.bloco-3-2 .container {
    padding: 15px 25px;
    border-radius: 20px;
    box-shadow: 5px 3px 10px black;
}
.bloco-4-2 {
    background: url('pg2/bloco4-bg.png'), url('pg2/bloco4-grafico-dir.png') 101% top/512px 100% no-repeat;
    padding: 80px 0;
}
.citacao {
    width: 70%;
    background-color: white;
    color: #333;
    padding: 25px;
    border-radius: 25px;
    display: block;
    margin: 40px auto;
    box-shadow: -8px 8px #ff9700;
}
.caixa-atencao-1 {
    background-color: white;
    box-shadow: -6px 6px #ff9700;
    border-radius: 50px;
    color: #333;
    padding: 5px 25px 5px 65px;
    margin: 40px auto;
    position: relative;
}
.caixa-atencao-2 {
    background-color: white;
    box-shadow: -6px 6px #ff9700;
    border-radius: 50px;
    padding: 15px 25px 5px 65px;
    margin: 40px auto;
    position: relative;
    color: #333;
}
.caixa-atencao-1::before,
.caixa-atencao-2::before {
    content: '';
    height: 125px;
    width: 125px;
    background-image: url('pg2/bloco5-atencao-ico.png');
    position: absolute;
    left: -60px;
    top: -40px;
}
.bloco-4-2 .container {
    background-color: transparent;
}

.bloco-5-2 {
    background-image: url('pg2/bloco5-bg.png');
    padding: 80px 0;
}

.bloco-5-2 .container {
    background-color: transparent;
    color: white;
}

.pg4 {
    background-image: url('pg4/bg.png');
    padding-bottom: 140px;
    padding-top: 100px;
}
.pg4 .container {
    background-color: #008086;
    color: white;
    background-position: center;
    width: 90%;
    padding: 25px 45px;
    border-radius: 25px;
    max-width: 1100px;
}
.pg4 h3 {
    color: white;
    font-size: 30px;
}
.titulo-conteudo {
    position: absolute;
    width: 100%;
    top: 160px;
}
.titulo-conteudo .container {
    background-color: transparent;
}

footer {
    position: absolute;
    background-color: transparent;
    width: 100%;
}
.pagination {
    background-color: transparent;
    margin-top: -100px;
}

.bloco-1-3 {
    padding-top: 90px;
    padding-bottom: 60px;
    background-image: url('pg3/bloco1-bg.png');
    background-color: #008086;
}
.bloco-1-3 .container {
    padding: 25px;
    background-color: #008086;
    box-shadow: 9px 9px 10px #333;
    border-radius: 25px;
    border: 1px solid #333;
    color: white;
}
.bloco-1-3 h3 {
    color: white;
    font-size: 26px;
}
.bloco-1-3 .container img {
    margin: 40px auto;
}
.bloco-2-3 {
    background-image: url('pg3/bloco2-bg.png');
    padding: 50px 0;
}
.bloco-2-3 .container {
    background-color: transparent;
}

table.sesc {
    display: block;
    margin: 40px auto 10px auto;
    width: fit-content;
}
img.m-auto {
    margin: 30px auto !important;
}
.bloco-3-3 {
    background-image: url('pg3/bloco3-bg.png');
    padding: 40px 0;
}
.bloco-3-3 .container {
    padding: 25px 35px;
    border-radius: 20px;
    box-shadow: 3px 3px 6px black;
}
.bloco-3-3 .caixa.icone.dica,
.bloco-4-3 .caixa.icone.saiba-mais {
    background-color: #00828b;
    color: white;
    border-radius: 100px;
    border: none;
    box-shadow: -6px 6px #ff9700;
}
.bloco-4-3 .caixa.icone.saiba-mais::before {
    background-image: url('pg3/bloco4-saibamais-ico.png');
    left: -50px;
    top: -15px;
    height: 125px;
    width: 105px;
    background-color: transparent;
    background-size: contain;
}
.bloco-3-3 .caixa.icone.dica::before {
    background-image: url('pg3/bloco3-dica-ico.png');
    left: -50px;
    top: -15px;
    height: 125px;
    width: 105px;
    background-color: transparent;
    background-size: contain;
}
.bloco-4-3 {
    padding-top: 40px;
    padding-bottom: 120px;
    background-image: url('pg3/bloco4-bg.png');
}
.bloco-4-3 .container {
    padding: 25px 35px;
}
.bloco-4-3 h3 {
    color: #333;
    font-size: 26px;
}
h3 {font-size: 26px;}
.carousel.sesc {
    max-width: 960px;
    display: block;
    margin: 20px auto;
}

.bloco-1-2 h3 {
    color: white;
    font-size: 28px;
}
.bloco-1-2 .caixa {
    color: #333;
    background-color: white;
    border: none;
    padding: 15px;
    margin: 40px auto;
    border-radius: 25px;
    box-shadow: -4px 4px #ff9700;
}
.infografico-1 {
    display: flex;
    align-items: center;
    background-color: #00828b;
    box-shadow: -6px 6px #ff9700;
    color: white;
    max-width: 75%;
    border-radius: 25px;
    padding: 25px;
    margin: 0px 0 40px 0;
}
.infografico-1 li {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}
.gif {
    border-radius: 25px;
    width: 600px;
    height: 338px;
    margin-right: 30px;
}

.bloco-4-2 .caixa.icone.saiba-mais,
.bloco-2-2 .caixa.icone.saiba-mais {
    background-color: #008086;
    color: white;
    border: none;
    box-shadow: -6px 6px #ff9700;
    border-radius: 100px;
    padding: 15px;
    padding-left: 65px;
}
.bloco-4-2 .caixa.icone.saiba-mais::before,
.bloco-2-2 .caixa.icone.saiba-mais::before {
    background-image: url('pg2/bloco4-saiba-ico.png');
    left: -50px;
    top: -15px;
    height: 125px;
    width: 105px;
    background-color: transparent;
    background-size: contain;
}
.bloco-4-2 .caixa-sinopse {
    display: flex;
    margin: 40px 0;
    width: 1380px;
}
.bloco-4-2 .caixa-sinopse img {
    align-self: center;
    margin-right: 40px;
    height: auto;
}
.bloco-2-1 h3 {
    color: white;
    font-size: 28px;
}
.bloco-2-1 .caixa {
    background-color: #008086;
    color: white;
    border: none;
    border-radius: 100px;
    box-shadow: -6px 6px #ff9700;
    width: 60%;
    text-align: center;
    display: block;
    margin: 40px auto;
}
.bloco-2-1 .caixa.icone.pergunta::before {
    background-image: url('pg1/bloco2-pergunta-ico.png');
    background-color: transparent;
    height: 154px;
    width: 154px;
    background-size: contain;
    background-repeat: no-repeat;
    right: -15px;
    left: unset;
    top: 50%;
    transform: translateY(-50%);
}
.bloco-2-1 .caixa.icone.dica::before {
    background-image: url('pg1/bloco2-ico-dica.png');
    background-color: transparent;
    height: 118px;
    width: 119px;
    left: -50px;
}
p.cita {
    padding-left: 30px;
    font-style: italic;
}
.menu {
    position: fixed;
    background-image: url('menusuperior/menu-superior.png');
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 99;
    transition-duration: .3s;
}
.menu.topativo {
    top: 0;
}
.menu a {
    background-color: white;
    border-radius: 10px;
    height: 48px;
    line-height: 1.1em;
    width: 200px;
    text-align: center;
    color: black;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu a:hover {
    transform: scale(1.03);
}
.tooltip-link {
    color: var(--bs-body-color);
}
.caixa.icone .tooltip-link {
    color: white;
}
.pg5 {
    background-image: url('pg5/bg.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 120px;
}
.pg5 .container {
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 30px;
    box-shadow: 3px 3px 6px black;
    max-width: 1100px;
}

.pagination li.active {
    transform: translateY(-3px);
}

.obj-mobile {
    display: none;
}

.link-xs {
    display: none;
}

@media (max-width:1370px){
    .bloco-2-1 .caixa {
        text-align: left;
    }
    
    .bloco-2-1 .caixa.icone.dica::before {
        left: -65px;
    }

    .bloco-4-1 {
        background-image: unset;
        padding-left: unset;
    }

    .bloco-4-1 .col-conteudo {
        margin: 20px auto;
    }
    .infografico-1 {
        max-width: 95%;
    }
    .bloco-4-2 {
        background: url('pg2/bloco4-bg.png');
    }
    .bloco-4-2 .caixa-sinopse img {
        width: 750px;
    }
    .bloco-4-2 .caixa-sinopse {
        width: 100%;
        padding-right: 35px;
    }
}

@media (max-width:1100px){
    .bloco-1-1 .col-lg-4 img {
        display: none;
    }
    .img-01 {
        display: none;
    }
    .bloco-1-1 .col-texto, .bloco-1-1 .col-lg-8 {
        padding-left: 25px;
        max-width: unset;
    }
    .bloco-2-1 .caixa {
        width: 100%;
        padding-right: 120px;
    }
    .infografico-1 {
        flex-direction: column;
    }
    .infografico-1 .gif {
        margin-bottom: 25px;
    }
    .bloco-3-2 .container {
        width: 90%;
    }
    .caixa-sinopse {
        flex-direction: column;
    }
    .bloco-1-3 .container {
        width: 90%;
    }
    .bloco-3-3 .container {
        width: 90%;
    }
}

@media (max-width:600px){
    .img-grande {
        display: none !important;
    }
    .link-xs {
        display: unset;
    }
    .link-xs img {
        margin: 40px auto;
    }
    .menu {
        display: none;
    }
    .bloco-1-1 .col-lg-4 {
        display: none;
    }
    .bloco-1-1 .col-lg-8 {
        width: 100%;
        padding-left: 15px;
    }
    .img-01 {
        display: none;
    }
    .row {
        max-width: unset;
    }
    .bloco-2-1 .caixa {
        width: 100%;
        margin-top: 100px;
        padding: 30px;
    }
    .bloco-2-1 .caixa.icone.pergunta::before {
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
    }
    .bloco-2-1 .caixa.icone.dica::before {
        top: -85px;
        left: 45%;
        transform: translateX(-50%);
    }
    .obj-mobile {
        display: flex;
        flex-direction: column;
    }
    .obj-mobile button {
        height: 60px;
        margin: 15px auto;
        background-color: #008086;
        color: white;
        text-transform: uppercase;
        width: 80%;
        border: none;
        box-shadow: -6px 6px #ff9700;
    }
    .obj-mapa {
        display: none;
    }
    .titulo-conteudo {
        top: 80px;
    }
    .col-texto {
        margin-top: 30px;
    }
    .bloco-4-2 .caixa-sinopse img {
        width: 100%;
    }
    .bloco-4-2 .texto {
        padding: 25px;
    }
    .caixa-atencao-1, .caixa-atencao-2 {
        padding-left: unset;
        padding: 25px;
        padding-top: 100px;
    }
    .caixa-atencao-1::before, .caixa-atencao-2::before {
        left: 50%;
        transform: translateX(-50%);
    }
    .gif {
        width: 100%;
        height: auto;
        margin: 20px auto;
    }
}